In [ ]:
nombre = 'Mauricio'  #Tipo de dato string (cadena de caracteres)

print (nombre)

Mauricio

# Tipos de datos en Phyton

### Tipos simples 
- str --> string cadena de caracteres. 
- int --> Numeros enteros
- float --> Numeros con notacion de punto flotante
- complex --> Numeros Complejos 
- bool --> Boleano (True or False)
- byte --> 8 bits

### Tipos de datos estructurados (compuestos)
- list --> Listas(Arreglos en otros leng)
- tuple --> Listas no mutables
- dict --> Diccionarios
- set y frozenset --> Conjuntos

In [ ]:
import sys

edad = 19
print ("Tu edad es:",edad) #Al final de una linea de codigo  
#este es un comentario de linea simple

"""
Comentario de multiple linea
En lenguaje C, C++ y Java es el comentario de multiple linea es con
/*  .....  */

En lenguaje C,C++ y Java el comentario de una sola linea es con
//

Aqui puedes explicar en prosa el segmento de un codigo para futura revision

"""
# tipos de datos numericos int y float

print (sys.getsizeof(edad))
# el tipo de dato INT utiliza diferente cantidad de bits segun el lenguaje de prog. 
# por ejemplo en c utiliza 16 bis.

edad=edad + 1
print (edad)

estatura = 1.56
print( estatura )
print( sys.getsizeof(estatura))
estatura= estatura +0.1
print(estatura)
print(round(estatura,2))

edad += 1  #edad = edad +1 
print("Tu edad es:",edad)

edad -= 1  #edad = edad -1 
print("Tu edad es:",edad)

edad += 1  # vuelve a 21
edad /= 2  #edad = edad /2 
print("La mitad de tu edad es:",edad)

edad=21
#volver a calcular la mitad de la edad pero solo dejar la parte entera
edad = edad // 2 # para que te de numeros enteros se ocupa "//"
print("La mitad de tu edad es:",edad)

#En la mayoria de los lenguajes no permite operaciones entre diferentes tipos
#de datos, en phyton no es el caso

numero = edad / 2.0
print(numero)

numero *=3  #numero= numero * 3
print(numero)

numero = 5.0
numero **= 2 #numero= numero **2 (solo phyton)
print(numero)

#operador modulo 
numero = 21
print(numero / 2)
print(numero // 2)

#el operador modulo da el residuo de una divison entera
print(numero %2)

numero=24
print("Residuo de 24/5:",numero %5)

#operadores relacionales (logicos)
print("24 es par",numero %2 == 0)

#diferencia
print("24 es diferente de 23",numero != 23) 
print("24 es mayor que 23",numero > 23)
print("24 es menor que 23",numero < 23)

print("24 es mayor o igual que 24",numero >= 24)
print("24 es menor o igual que 23",numero < 23)

print("El tipo de dato de la variable numero es:", type(numero))
print("El tipo de dato de la variable numero / 2.0 es:", type(numero/2.0))

Tu edad es: 19
28
20
1.56
24
1.6600000000000001
1.66
Tu edad es: 21
Tu edad es: 20
La mitad de tu edad es: 10.5
La mitad de tu edad es: 10
5.0
15.0
25.0
10.5
10
1
Residuo de 24/5: 4
24 es par True
24 es diferente de 23 True
24 es mayor que 23 True
24 es menor que 23 False
24 es mayor o igual que 24 True
24 es menor o igual que 23 False
El tipo de dato de la variable numero es: <class 'int'>
El tipo de dato de la variable numero / 2.0 es: <class 'float'>

# tipo de dato String (str) en Phyton

- Se maneja como un arreglo (tipo de dato compuesto)
- Se puede acceder a los elementos de el string por medio del indice del caracter.
- Mutable
- Tiene metodos utiles (potentes)
- slicing

In [ ]:
nombre = 'jose'
carrera = "ingenieria en computacion"
frase = """ El conocimiento 
me persigue,....
pero
yo soy mas rapido
"""
#cuando son solo una palabra se recomienda con comilla simple''
#"" para cuando son muchas palabras y """ cuando son muchas lineas

print(nombre)
print(carrera)
print(frase)

# La funcion Type de Phyton te lo devuelve el tipo de dato de una variable
print(type(nombre))

paterno= str('Perez')
print(paterno)

jose
ingenieria en computacion
 El conocimiento
me persigue,....
pero
yo soy mas rapido

<class 'str'>
Perez

#Una clase (class) es un tipo de dato compuesto.

In [1]:
carrera = "ingenieria en computacion"
print(carrera)
print(carrera[2])

ingenieria en computacion
g

# a la sintaxis escrita para elegir un elemento de un grupo de datos se le llama selector 

en el caso de strings y listas (lst) se usan los caracteres '[' y ']'

1. en todos los lenguajes los arreglos inician en 0
2. en phyton no existe como tal el tipo de dato arregl. el conceptto es sustituido por las listas
3. los strings se comportan como un arreglo en la mayoria de los lenguajes
4. en python se acepta en indexado, en otros lenguajes NO

In [8]:
carrera = "ingenieria en computacion"
print(carrera [8])
print(carrera [24])
print(carrera [-1])
print(carrera [-25])


#adelantando el tema ciclo FOR

for letra in carrera:
  print("-->",letra,"<--")

i
n
n
i
--> i <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> i <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> o <--
--> n <--

# Slicing (rebanado) de cadenas

Permite seleccionar subcadenas con el operador [ inicio : stop : incremento ]
El stop no se incluye, es por eso que debemos agregar una posicion extra.
### Slicing y valores por defecto
Inicio por defecto siempre sera 0 

Stop: tamaño del arreglo (indexado positivo)

  0 (en un indexado negativo)
  
  Incremento: es 1 (indexado positivo)

Solo Python

In [35]:
carrera = "ingenieria en computacion"
print(carrera[0:10:1] )
print(carrera[14:25:1] )
#lo mismo pero con indexado negativo
print(carrera[-11:-1:1])
print(carrera[:10:])
print(carrera[14:25:])
print(carrera[-11::1])

#solucion previa
print("----------")
print(carrera[-11:-1:1])
print(carrera[-11::1])

# un ejercicio mas para ver incremento
print(carrera[0:10:2])
print(carrera[-1:-12:-1])
#lo mismo pero usando indexado positivo
print(carrera[25:13:-1])

ingenieria
computacion
computacio
ingenieria
computacion
computacion
----------
computacio
computacion
ignei
noicatupmoc
noicatupmoc

# String y sus metodos
#Todos los tipos de datos en Python son objetos (CLASES DE LA POO)
###Lo cual significa que tiene atributos y metodos 
### dir() y help() funciones para obtener ayuda del lenguaje Python
### dir muestra las funciones de un tipo de dato como resumen.
### help muestra la misma ayuda pero con detalle. ej "help(str)"

Los metodos que inician con doble guiin bajo son privados de uso interno de la clase y no deberiamos usarlos. 

Todos los demas son para uso exterior(usuario).

In [70]:
frutas= " limon , fresa ,  manzana  , aguacate  "
nombre = "jose"
print(frutas)

print( nombre.capitalize() )
print( nombre.upper ())
print( frutas.replace('a', '4').replace ('e' , '3').upper())
#para remplazar el significado de la variable se copia el codigo a la variable
#se le asigna otro valor
frutas= frutas.replace('a', '4').replace ('e' , '3').upper()
print(frutas)
print("-------------------------------------------------------------")
frutas= "  limon , fresa ,  manzana  , aguacate  "
print( frutas.strip ())
#strip quita la "basura que hay enfrente y atras"
print( frutas.split(',' ))
#split separa los valores de la variable
print( frutas.index ("n"))
#index busca la posicion en que esta una letra

 limon , fresa ,  manzana  , aguacate
Jose
JOSE
 LIMON , FR3S4 ,  M4NZ4N4  , 4GU4C4T3
 LIMON , FR3S4 ,  M4NZ4N4  , 4GU4C4T3
-------------------------------------------------------------
limon , fresa ,  manzana  , aguacate
['  limon ', ' fresa ', '  manzana  ', ' aguacate  ']
6

# String y caracteres de escape

"Jose"
- \" --> "
- \" --> '
- \n --> Salto de linea (tecla enter)
- \t --> Tabulador espacios a la izquierda
- \uxxxx --> Caracteres unicode 
- \uxxxxxxxx --> Unicode extendido

In [77]:
print("\"Jose\"")
nombre="\"Jose\""
print(nombre)
carrera= "Ingenieria \n\t en \n\t\tcomputacion"
print(carrera)

"Jose"
"Jose"
Ingenieria
	 en
		computacion