# Tipos de datos estructurados de phyton


1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

# Listas

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas
  - Usando [ ]
  - Usando list ( )
  - Usando generador
- Puede contener tipos de datos diversos (En otros lenguajes de prog. no es posible de forma directa)
- Los elementos internos se seleccionan con [ ]
- Soporta slicing
- SON MUTABLES
- GENERADORES [var for x in range( 10 )]
- Al ser una clase contiene muchos metodos utiles

In [ ]:
numeros= [10, 5, 2, 3, 1]
print(numeros)

numeros2= list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
#para cambiar un numero por otro se hace lo siguiente:
numeros[2] = 20
print(numeros)
numeros[-1] = 33
print(numeros)
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [ ]:
#Tipos diversos

cosas = [12, 2 , True , "Jose" , 1.57 , ["pera" , "kiwi" , "uva"]]
print(cosas)
print(cosas[1] )
print(cosas[ 4 ] )
print(cosas[5][1] )
print(cosas[3][1:3:] )
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# silcing
# 1. 4 al 8????
print(numeros[3:8] )
# 2. [9,10]
print(numeros[8:10])
print(numeros[-3:-1:] )
# 3. Imprimir la lista en orden inverso [11,10,9,etc.]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#crear una lista con un generador
numeros = [ x*3 for x in range (101)]#el numero final no se incluye por eso 101
print(numeros)

#funcion range ()

Tiene los mismos componentes que slicing ini, stop, incremento

range(1,101,1)

In [ ]:
numeros = [ x for x in range(50,101)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# METODOS DISPONIBLES DE LAS LISTAS

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
print(numeros)
#alternativa numeros=[] pero de preferencia con clear

frutas = [ "uvas" , "kiwi" , "manzana" ]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja") 
print(frutas)
print(copia)

colores = [ "rojo" , "azul" , "blanco" ]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("numero de veces que aparece el 15=", numeros.count(15))

#extend

nombres = ["Jose","Pedro", "karina"]
otrosNombres = ["Josue","diana","dalia"]
print(nombres)
print(otrosNombres)
nombres= nombres + otrosNombres

print(nombres)
print(otrosNombres)

#Lo mismo con el metodo extend
otrosNombres.extend ( ["Jesus","maria","jose"])
print(otrosNombres)
print("Jesus esta en la posicion:", otrosNombres.index("Jesus")) 
#index es para buscar donde esta un valor
otrosNombres.insert(4, "Espiritu santo")
#insert para insertar un valor en una posicion 
print(otrosNombres)

#pop
resultado = otrosNombres.pop ()
#pop saca el ultimo valor de la variable
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
numero de veces que aparece el 15= 1
['Jose', 'Pedro', 'karina']
['Josue', 'diana', 'dalia']
['Jose', 'Pedro', 'karina', 'Josue', 'diana', 'dalia']
['Josue', 'diana', 'dalia']
['Josue', 'diana', 'dalia', 'Jesus', 'maria', 'jose']
Jesus esta en la posicion: 3
['Josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'maria', 'jose']
['Josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'maria']
jose