# Tipos de datos estructurados de phyton


1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

# Listas

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas
  - Usando [ ]
  - Usando list ( )
  - Usando generador
- Puede contener tipos de datos diversos (En otros lenguajes de prog. no es posible de forma directa)
- Los elementos internos se seleccionan con [ ]
- Soporta slicing
- SON MUTABLES
- GENERADORES [var for x in range( 10 )]
- Al ser una clase contiene muchos metodos utiles

In [ ]:
numeros= [10, 5, 2, 3, 1]
print(numeros)

numeros2= list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
#para cambiar un numero por otro se hace lo siguiente:
numeros[2] = 20
print(numeros)
numeros[-1] = 33
print(numeros)
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [ ]:
#Tipos diversos

cosas = [12, 2 , True , "Jose" , 1.57 , ["pera" , "kiwi" , "uva"]]
print(cosas)
print(cosas[1] )
print(cosas[ 4 ] )
print(cosas[5][1] )
print(cosas[3][1:3:] )
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# silcing
# 1. 4 al 8????
print(numeros[3:8] )
# 2. [9,10]
print(numeros[8:10])
print(numeros[-3:-1:] )
# 3. Imprimir la lista en orden inverso [11,10,9,etc.]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#crear una lista con un generador
numeros = [ x*3 for x in range (101)]#el numero final no se incluye por eso 101
print(numeros)

#funcion range ()

Tiene los mismos componentes que slicing ini, stop, incremento

range(1,101,1)

In [ ]:
numeros = [ x for x in range(50,101)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# METODOS DISPONIBLES DE LAS LISTAS

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
print(numeros)
#alternativa numeros=[] pero de preferencia con clear

frutas = [ "uvas" , "kiwi" , "manzana" ]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja") 
print(frutas)
print(copia)

colores = [ "rojo" , "azul" , "blanco" ]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("numero de veces que aparece el 15=", numeros.count(15))

#extend

nombres = ["Jose","Pedro", "karina"]
otrosNombres = ["Josue","diana","dalia"]
print(nombres)
print(otrosNombres)
nombres= nombres + otrosNombres

print(nombres)
print(otrosNombres)

#Lo mismo con el metodo extend
otrosNombres.extend ( ["Jesus","maria","jose"])
print(otrosNombres)
print("Jesus esta en la posicion:", otrosNombres.index("Jesus")) 
#index es para buscar donde esta un valor
otrosNombres.insert(4, "Espiritu santo")
#insert para insertar un valor en una posicion 
print(otrosNombres)

#pop
resultado = otrosNombres.pop ()
#pop saca el ultimo valor de la variable
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
numero de veces que aparece el 15= 1
['Jose', 'Pedro', 'karina']
['Josue', 'diana', 'dalia']
['Jose', 'Pedro', 'karina', 'Josue', 'diana', 'dalia']
['Josue', 'diana', 'dalia']
['Josue', 'diana', 'dalia', 'Jesus', 'maria', 'jose']
Jesus esta en la posicion: 3
['Josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'maria', 'jose']
['Josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'maria']
jose

#Tuplas

### Caracteristicas de las tuplas

- Son datos agrupados
- Se declara usando#
  - ( )
  - tuple ( )
- Estructura secuencial, indexada a partir de 0
- pueden tener de 0 a n elementos
- NO SON MUTABLES (No se puede:Eliminar y/o cambiar)
-Son buenas para almanecar informacion de consulta
- Pueden alamacenar info. de diferente tipos de datos.
- Pueden estar anidadas
- Tienen metodos utiles

In [ ]:
info = ("juan23" , "dios1234" , "123.232.1.12")
print(info)
print(info[1])
#info[ 1 ] = "patito23" no se puede agregar ni eliminar elementos en tuplas

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print( numeros )
print( numeros [5:11:])

cosas = ( info , numeros)
print( cosas )
print( cosas[1][5:11:1] )
print( cosas[0][2][4:7] )
print( cosas[0][2][-8:-5] )

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# metodos de las tuplas

son los mismos de las listas pero los que no involucren mutabilidad.

# Diccionarios
### Caracteristicas de los diccionarios

- Agrupan datos pero de forma no lineal
- Se declacan con: 
  - { }
  -dic( )
- Formado por pares del tipo llave:valor , donde:
  - llave es de tipo de string (Siempre)
  - valor puede ser de cualquier tipo de datos, incluyendo las diccionarios.
- Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = { "nombre" : "Jose" }
print(alumno)
print(alumno["nombre"])
alumno = { "nombre" : "Jose" , "nc" : "2129229292" , "edad" : 18}
print("Edad del alumno =" , alumno["edad"])
print(alumno["nombre"].upper ())
print(alumno)

print("alumno 2:")
alumno2 = dict() #{ }
alumno2["nombre"] = "Jose"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'Jose'}
Jose
Edad del alumno = 18
JOSE
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
alumno 2:
{'nombre': 'Jose'}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 19}

In [6]:
cliente = { "id" : "CT2121" , 
           "nombre" : "Jose Pedroza Rosales" , 
           "telefono" : "casa:5532456745 cel=5511453429"}
print(cliente)
cliente = { "id" : "CT2121" , 
           "nombre" : {
               "nombre" : ["Jose"],
               "paterno" : ["Pedroza"],
               "materno" : ["Rosales"]
           } ,
           "telefonos" : {
               "casa" : "55-3245-6745", 
               "trabajo" : "55-6439-2823",
               "celular" : "55-1145-3429" ,
           } ,
           "productos" : {
                      "ahorro" : {"numero_cuenta" : "7788" , "ahorro": 2500.5 },
                      "tarjetas" : [ 
                                     {"tipo":"debito"},
                                     {"tipo":"credito preferente" , "limite": 250000.5},
                                     {"tipo":"lite" , "limite" : 15000.5}
                        ]
            } ,
            "direccion":{
                    "calle":"Av. central",
                    "numero" : 1245,
                    "colonia" : "Impulsora",
                    "delegacion" : "neza",
                    "estado" : {
                                "clave" : 15,
                                "nombre_corto": "EdoMex",
                                "nombre" : "Estado de Mexico"
                               }
                }
                }
print(cliente["telefonos"]["casa"])
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"] -=1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa:5532456745 cel=5511453429'}
55-3245-6745
{'id': 'CT2121', 'nombre': {'nombre': ['Jose'], 'paterno': ['Pedroza'], 'materno': ['Rosales']}, 'telefonos': {'casa': '55-3245-6745', 'trabajo': '55-6439-2823', 'celular': '55-1145-3429'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito'}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito'}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

# Estructura de control de programacion

Se puede crear cualquier tipo de algoritmo empleado solamente a 3 estructuras de control:

1. Secuencia:
  - La representacion de la memoria de programa (Arquitectura Vonn Newman)
2. Seleccion:
  - Es la estructura de control que decide si un bloque de programas se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjunto de opciones.
  -En resumen tenemos: Seleccion simple, Seleccion con bifurcacion y seleccion multiple
3. Repeticion:
  - Este tipo de estructura nos permite automatizar la ejecucion repetitiva de codigo mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programacion:
    - Desde...hasta(estructura for)
    - Haz mientras (estructura While)
    - Haz y luego validas mientras(Do-While)

# seleccion simple

la estructura if

        if <CONDICION>
          <Cuerpo del if>

**NOTA** Para establecer el cuerpo de una estructura de control en Python se usan los tabuladores

En otros lenguajes de programacion como java, c y c++... se usan las llaves { }

          int edad =0;
          printf("dame tu edad");
          scanf(edad>= 18){
            printf("eres mayor de edad");
          }
          printf("fin del programa");

In [ ]:
edad = int( input("Dame tu edad"))
print(f"Tecleaste {edad} años")
if edad >= 18 :
  print("Eres mayor de edad")
  print("Algo")
print("Otra cosa")
print("Fin del programa")

In [27]:
cal = int( input("Calificacion del estudiante"))
print(f"Calificacion {cal}")
if cal > 8 :
  print("aprobaste")
print("Fin del programa")

Calificacion del estudiante9
Calificacion 9
aprobaste
Fin del programa

In [46]:
SUE = float(input("Escribe el sueldo del trabajador: "))
AUM = 0
NSUE = 0

if SUE < 1000 :
  AUM = SUE* 0.15
  NSUE = SUE + AUM
  print(NSUE)

Escribe el sueldo del trabajador: 875.50
1006.825